<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
<head>
<section layout:fragment="content">
	
	<hr style="border: 0px; height: 3px; background: coral;">
	 <h1 style="text-align: center;">제목</h1>
	 <hr style="border: 0px; height: 3px; background: coral;">	
	 <p align="right">
		 <img src="/images/commentCount.png" width="20px" height="20px"><!--  <span th:text="${cardBoard.commentCount}"></span>  -->
		<img src="/images/readIcon.png" width="20px" height="20px"><!-- <span th:text="${cardBoard.boardCount}"></span>  -->
	</p>
	<hr style="border: 0px; height: 3px; background: coral;">
	<p style="font-size: 20px; text-align: center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<hr style="border: 0px; height: 3px; background: coral;">
	<div align="right">
	<button type="button" id="btn" class="btn-success btn-sm">추천</button>
		<button type="button" id="btnDelete" class="btn-warning btn-sm">삭제</button>
	</div>
</section>
</html>