<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/member/joinUserForm.css}">
</th:block>	
<th:block layout:fragment="script">
	<script th:src="@{/js/member/joinUserForm.js}"></script>
</th:block>	
<head>
<meta charset="UTF-8">
<title>회원 가입 폼</title>
</head>
<section layout:fragment="content"> 
<div class="join_notice">
			<h1 class="join_title">회원 가입</h1>
			<div class="join_devide"></div>
			<p class="join_text">
				철수와 영화에 오신 것을 환영합니다.<br>회원 가입을 위해서 아래 내용을 작성해주세요
			</p>
		</div>

		<form action="/joinUserRequest"
			method="POST" enctype="multipart/form-data" id="inputLoginData">
			<div class="join_box">
				<div class="join_left">
					<div class="input_section">
						<h3 class="input_title">ID</h3>
						<input class="input_box" type="text" name="userId1" id="userId1">
						<!--<button type="button" id="idChkBtn" name="idChkBtn">확인</button> -->
					</div>
					<div id="resultId"></div>
					<div class="input_section">
						<h3 class="input_title">Password</h3>
						<input class="input_box" type="password" name="userPwd1"
							id="userPwd1">
					</div>
					<div>
						<span id="pwdcheck0"></span>
					</div>
					<div class="input_section">
						<h3 class="input_title">Password 확인</h3>
						<input class="input_box" type="password" name="userPwdCheck"
							id="userPwdCheck1">
						<!-- <button type="button" id="pwChkBtn">확인</button>  -->
					</div>
					<div>
						<span id="pwdcheck"></span>
					</div>
					<div>
						<span class="pwdformchk"></span>
					</div>
					<div class="input_section">
						<h3 class="input_title">E-mail</h3>
						<input class="input_box" type="text" name="userEmail"
							id="userEmail">
					</div>
					<div>
						<span id="emailcheck"></span>
					</div>
					<div class="input_section">
						<h3 class="input_title">생년월일</h3>
						<div class="input_box input_select">
							<select id="birthYear" name="birthYear"></select> <select
								id="birthMonth" name="birthMonth"></select> <select
								id="birthDate" name="birthDate"></select>
						</div>
					</div>
					<div class="input_section">
						<h3 class="input_title">연락처</h3>
						<div class="input_box input_select">
							<select id="contact1" name="contact1">
								<option value="010">010</option>
								<option value="011">011</option>
								<option value="017">017</option>
								<option value="018">018</option>
								<option value="019">019</option>
							</select> <input type="text" id="contact2" name="contact2"> <input
								type="text" id="contact3" name="contact3">
						</div>

					</div>
					<div class="input_section">
						<h3 class="input_title">닉네임 설정</h3>
						<input class="input_box" type="text" name="userNick" id="userNick">
						<!-- <button type="button" id="userNickBtn">확인</button>  -->
					</div>
					<div>
						<span id="result"></span>
					</div>
				</div>
				<div class="join_right">
					<div class="input_profile">
						<img id="img">
						<div class="form_imgBtn">
							<label for="imgInput">이미지 등록</label> <input type="file"
								class="form_imgInput" id="imgInput" name="imgInput" />
						</div>
					</div>

					<div class="input_section">
						<h3 class="input_title">이름</h3>
						<input class="input_box" type="text" name="userName" id="userName">
					</div>
					<div class="input_section">
						<h3 class="input_title">성별</h3>
						<div class="input_radio">
							<label for="pickGender">남</label> <input type="radio"
								name="pickGender" id="pickMale" value="M" checked> <label
								for="pickFemale">여</label> <input type="radio" name="pickGender"
								id="pickfeMale" value="F">
						</div>
					</div>
					<div class="btn_box">
						<button class="cancleBtn" type="button">취소</button>
						<button class="submitBtn" id="isSubmitBtn" type="button">확인</button>
					</div>
				</div>
			</div>

		</form>



</section>
<body>

</body>
</html>