<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/member/mypage.css}">
</th:block>
<head>
</head>
<section layout:fragment="content">
	<div class="join_notice">
		<h1 class="join_title">마이페이지</h1>
		<div class="join_devide"></div>
		<p class="join_text">내 활동을 확인할 수 있습니다.</p>
	</div>
</section>
</html>