<!DOCTYPE html>
<html lang="ko">
<script type="text/javascript"  src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>


	<head>
	
		<meta charset="UTF-8">
		<title>로그인 유저 폼</title>
	</head>
	<body>
		<form action="/login" method="POST">
		
			ID : <input type="text" name="userId" id="userId"><br>
			Password : <input type="password" name="userPwd" id="userPwd"><br>
		
		<input type="hidden" name="requestUri" value="<%=requestUri%>"/>
		
		<button value="submit">로그인</button>
		<button value="reset">취소</button>
		
		
		</form>

	</body>
</html>