@charset "UTF-8";

.content_title {
	padding: 2em 0 0 2em;
}

.movie_input {
	display: flex;
	width: 100%;
	padding: 2em 5em;
	justify-content: space-evenly;
	align-items: center;
}

.form_imgBtn label {
	margin-top: 1em;
	display: inline-block;
	padding: 0.5em 0.75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: 0.25em;
}

.form_imgBtn input[type="file"] {
	/* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

#img {
	width: 20rem;
	height: 25rem;
}

.form_inputSection {
	display: flex;
	align-items: center;
	width: 20rem;
}

.input_title {
	flex: 2;
}

.input_box {
	flex: 3;
	height: 2em;
	border: 3px solid black;
	border-radius: 0.25em;
}

.form_btn {
	margin-left: 25em;
	padding: 0.5em 0.75em;
	color: #b1b1b1;
	font-size: 20px;
	background-color: #fdfdfd;
	border: 2px solid #b1b1b1;
	border-bottom-color: #b1b1b1;
	border-radius: 0.25em;
	transition: all 150ms ease-in;
}

.form_btn:hover {
	background-color: #e2e2e2;
}