<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.example.member.vo.UserInfoVo" alias="UserInfoVo" />
		<typeAlias type="com.example.movie.vo.MovieGuanramVO" alias="guanramVo"/>
		<typeAlias type="com.example.movie.vo.GuanramListVO" alias="guanramListVo"/>
		<typeAlias type="com.example.board.vo.BoardVO" alias="boardVO"/>
		<typeAlias type="com.example.board.vo.RecomVO" alias="recomVO"/>
		<typeAlias type="com.example.board.vo.ReportVO" alias="reportVO"/>
		<typeAlias type="com.example.board.vo.CommentVO" alias="commentVO"/>
		<typeAlias type="com.example.board.vo.BoardFileVO" alias="boardFileVO"/>
		<typeAlias type="com.example.cardBoard.vo.BoardVO" alias="cardboardVO"/>
		
		<!-- 검색 추가 코드 -->
		<typeAlias type="com.example.board.vo.SearchVO" alias="searchVO"/>

		<typeAlias type="com.example.message.vo.SendMsgVO" alias="sendMsgVo"/>
		<typeAlias type="com.example.message.vo.AddressVO" alias="addressVo"/>

		<typeAlias type="com.example.message.vo.ReceiveMsgVO" alias="receiveMsgVo"/>

	</typeAliases>
</configuration>

