<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="UserInfoVo" type="com.example.member.domain.UserInfoVo"/>
		<typeAlias type="com.example.movie.vo.MovieGuanramVO" alias="guanramVo"/>
		<typeAlias type="com.example.movie.vo.GuanramListVO" alias="guanramListVo"/>
		<typeAlias type="com.example.board.vo.BoardVO" alias="boardVO"/>
	</typeAliases>
</configuration>