@charset "UTF-8";
/* 전체 */

.main_top {
	align-items: center;
	justify-content: space-between;
}

.main_divide {
	width: 90%;
	margin-left: 5%;
	border-bottom: 1px dotted #8c8c8c;
}

.main_bottom {
	display: flex;
	justify-content: space-around;
}

/* Movie */
.top_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 4em;
}

.main_title {
	padding: 0.5em 0 0 0.2em;
	font-size: 28px;
}

.movieList {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 17em;
}

.sectionMovie {
	display: flex;
    flex-direction: column;
    align-items: center;
}


.listSection {
	display: flex;
}

.list_icon {
	font-size: 2rem;
	cursor: pointer;
}

.content_text {
	text-align: center;
	line-height: 20rem;
}

.movieImg {
	width: 10rem;
	height: 15rem;
	border-radius: 0.25em;
	transition: transform 200ms linear;
	cursor: pointer;
}

.movieImg:hover {
	transform: scale(1.05);
}

#pagination-div{
	text-align: center;	
}

/* Board */

th {
	border-top: 3px solid #ed7c31;
	border-bottom: 3px solid #ed7c31;
	font-size: 14px;
	padding-bottom: 0.4em;
	background-color: blanchedalmond;
}

td {
	font-size: 12px;
}

tbody>tr {
	background-color: #ffffe08f;
	border-bottom: 5px solid white;
}

.review_title {
	margin: 1em 0.2em;
	font-size: 20px;
}

.list_title {
	font-weight: 600;
}

.list_notice {
	color: red;
	font-weight: 600;
}

#paging {
	width: 200px;
	margin: 10px auto;
}

#search {
	margin: 10px auto;
	width: 500px;
}

