<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset='UTF-8'>
<title>보낸 쪽지 상세보기</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/message/receiveMsgList.css}" />
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/message/receiveMsgList.js}">
	
</script>

</head>
<body>
<section class="container">
	<div id="navibox">
		<button class="btn btn-secondary messageBtn" type="button" id="sendMsglistBtn"
			onclick="location='/sendMsgList'">보낸쪽지함</button>
		<button class="btn btn-secondary messageBtn" type="button" id="recieveMsglistBtn"
			onclick="location='/receiveMsgList'">받은쪽지함</button>
		<button class="btn btn-secondary messageBtn" type="button" id="sendFormBtn"
			onclick="location='/sendMsgForm'">쪽지쓰기</button>
	</div>
	<form action="/removeReceiveMsg" method="POST"
		id="removeReceiveMsgForm">
		<div id="content">
			<div>
				<table class="table table-striped" border="1" id="sendMsgList">
					<thead>
						<tr>
							<th>보낸사람</th>
							<th>내용</th>
							<th >작성시간</th>
							<span th:if="${#lists.size(receiveMsgList) > 0}">
								<th><input
									type="checkbox" id="allChecked">선택</th>
							</span>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.size(receiveMsgList) == 0}">
							<td colspan="4">받은 쪽지가 없습니다.</td>
						</tr>

						<tr th:if="${#lists.size(receiveMsgList) > 0}"
							th:each="receiveMsg : ${receiveMsgList}">
							<td th:text="${receiveMsg.writer}"></td>
							<!-- 내용이 10글자가 넘으면 -->
							<span
								th:if="${#strings.length(receiveMsg.receiveMsgContent) > 10 }">
								<td><span
									th:if="${receiveMsg.isRead} == 0" class="newMessage" style="color: orange;"
									>&nbsp;new&nbsp;</span> <a
									th:text="${#strings.substring(receiveMsg.receiveMsgContent, 0, 10) + '...'}"
									th:href="@{/receiveMsgDetail/{receiveMsgNo}/{isRead}(receiveMsgNo=${receiveMsg.receiveMsgNo}, (isRead=${receiveMsg.isRead}))}"></a></td>
							</span>

							<!-- 내용이 10글자가 넘지 않으면 -->
							<span
								th:if="${#strings.length(receiveMsg.receiveMsgContent) <= 10 }">
								<td><span
									th:if="${receiveMsg.isRead} == 0" class="newMessage">&nbsp;new&nbsp;</span> <a
									th:text="${receiveMsg.receiveMsgContent}"
									th:href="@{/receiveMsgDetail/{receiveMsgNo}/{isRead}(receiveMsgNo=${receiveMsg.receiveMsgNo}, (isRead=${receiveMsg.isRead}))}"></a></td>
							</span>
							<td
								th:text="${#strings.substring(receiveMsg.msgWdate, 0, 10)}"></td>
							<td><input type="checkbox"
								name="removeCheckBox"
								th:value="${receiveMsg.receiveMsgNo + ',' + receiveMsg.isRead}"></td>
						</tr>

					</tbody>
				</table>

				<div id="etc" th:if="${#lists.size(receiveMsgList) > 0}">
					<button class="btn btn-secondary deleteBtn" type="submit" id="removeSendMsgBtn">삭제</button>
				</div>

			</div>
		</div>
	</form>
	</section>
</body>
</html>
