<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset='UTF-8'>
<title>내가쓴 쪽지</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/message/sendMsgList.css}" />
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/message/sendMsgList.js}">
</script>

</head>
<body>
	<section class="container">
		<div class="container" id="navibox">
			<button class="btn btn-secondary messageBtn" type="button" id=sendMsglistBtn
				onclick="location='/sendMsgList'">보낸쪽지함</button>
			<button class="btn btn-secondary messageBtn" type="button" id="recieveMsglistBtn"
				onclick="location='/receiveMsgList'">받은쪽지함</button>
			<button class="btn btn-secondary messageBtn" type="button" id="sendFormBtn"
				onclick="location='/sendMsgForm'">쪽지쓰기</button>
		</div>
		<form action="/removeSendMsg" method="POST" id="removeSendMsgForm">
			<div id="content">
				<div>
					<table class="table table-striped" border="1" id="sendMsgList">
						<thead>
							<tr>
								<th>받는사람</th>
								<th>내용</th>
								<th>작성시간</th>
								<div th:if="${#lists.size(sendMsgList) > 0}">
									<th><input type="checkbox" id="allChecked">선택</th>
								</div>
							</tr>
						</thead>
						<tbody>
							<div th:if="${#lists.size(sendMsgList) == 0}">
								<tr>
									<td colspan="4">보낸 쪽지가 없습니다.</td>
								</tr>
							</div>
							<div th:if="${#lists.size(sendMsgList) > 0}">
								<tr th:each="sendMsg : ${sendMsgList}">
									<!-- 받는사람이 1명일때  -->
									<span th:if="${#lists.size(sendMsg.addresses) < 2}">
										<td><span
											th:text="${sendMsg.addresses[0].receiveId}" /></td>
									</span>
									<!--  받는사람이 2명 이상일때 -->
									<span th:if="${#lists.size(sendMsg.addresses) >= 2}">
										<td><span
											th:text="${sendMsg.addresses[0].receiveId} + ' 외 ' + ${#lists.size(sendMsg.addresses) - 1} + '명'  " />
									</td>
									</span>
									<!-- 내용이 10글자가 넘으면 -->
									<span th:if="${#strings.length(sendMsg.sendMsgContent) > 10 }">
										<td><a
											th:text="${#strings.substring(sendMsg.sendMsgContent, 0, 10) + '...'}"
											th:href="@{/sendMsgDetail/{sendMsgNo}(sendMsgNo=${sendMsg.sendMsgNo})}"></a></td>
									</span>

									<!-- 내용이 10글자가 넘지 않으면 -->
									<span th:if="${#strings.length(sendMsg.sendMsgContent) <= 10 }">
										<td><a
											th:text="${sendMsg.sendMsgContent}"
											th:href="@{/sendMsgDetail/{sendMsgNo}(sendMsgNo=${sendMsg.sendMsgNo})}"></a></td>
									</span>
									<td th:text="${#strings.substring(sendMsg.msgWdate, 0, 10)}"></td>
									<td><input type="checkbox"
										name="removeCheckBox" th:value="${sendMsg.sendMsgNo}"></td>
								</tr>
							</div>
						</tbody>
					</table>
				</div>
				<div th:if="${sendMsgList != null}">
					<button class="btn btn-secondary deleteBtn" type="submit" id="removeSendMsgBtn">삭제</button>
				</div>
			</div>
		</form>
	</section>
</body>
</html>