<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/aside.css" />
</head>
<div th:fragment="aside">
	<div class="aside_login">
		<div class="login_orangeBox">
			<div class="login_whiteBox">
				<img src="images/login.png" alt="login_icon" class="login_icon" />
				<span class="login_title">로그인</span>
				<div class="login_divide"></div>
				<form action="${pageContext.request.contextPath}/login.do"
					method="POST">
					<div class="login_input">
						<span>아이디</span> <input class="login_inputBox" type="text"
							name="userId" id="userId" />
					</div>
					<div class="login_input">
						<span>비밀번호</span> <input class="login_inputBox" type="password"
							name="userPwd" id="userPwd" />
					</div>
					<div class="login_btnBox">
						<button type="submit" class="login_btn" value="submit">로그인</button>
						<button type="button" class="login_btn">회원가입</button>
						<button type="button" class="login_btn">ID / PWD 찾기</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="aside_category">
		<div class="category_orangeBox">
			<div class="category_whiteBox">
				<div class="category_section">

					<h2 class="categoty_title"><a href="http://localhost:8080/boardlist/1">새싹 게시판</a></h2>

					<img src="images/sprout.png" alt="category_icon"
						class="category_icon" />
				</div>
				<div class="category_section">

					<h2 class="categoty_title"><a href="http://localhost:8080/boardlist/2">영화리뷰</a></h2>

					<img src="images/review.png" alt="category_icon"
						class="category_icon" />
				</div>
				<div class="category_section">

					<h2 class="categoty_title"><a href="http://localhost:8080/boardlist/3">시사회정보</a></h2>
					<img src="images/theater.png" alt="category_icon"
						class="category_icon" />
				</div>
				<div class="category_section">

					<h2 class="categoty_title"><a href="http://localhost:8080/boardlist/4">영화관람 팁</a></h2>
					<img src="images/tip.png" alt="category_icon" class="category_icon" />
				</div>
				<div class="category_section">

					<h2 class="categoty_title">지난관람평</h2>
					<img src="images/ticket.png" alt="category_icon"
						class="category_icon" />
				</div>
				
			</div>
		</div>
	</div>
</div>
</html>