<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/aside.css" />
</head>
<div th:fragment="aside">
	<div class="aside_login">
		<div class="login_orangeBox">
			<div class="login_whiteBox">
				<img src="images/login.png" alt="login_icon" class="login_icon" />
				<span class="login_title">로그인</span>
				<div class="login_divide"></div>
				<div th:if="${session.UserInfoVo == null}" id="thId">
				<form action="/requestlogin"
					method="POST" >
					<div class="login_input">
						<span>아이디</span> <input class="login_inputBox" type="text"
							name="userId" id="userId" />
					</div>
					<div class="login_input">
						<span>비밀번호</span> <input class="login_inputBox" type="password"
							name="userPwd" id="userPwd" />
					</div>
					<div class="login_btnBox">
						<button type="submit" class="login_btn" value="submit">로그인</button>
						<button type="button" class="login_btn">회원가입</button>
						<button type="button" class="login_btn">ID / PWD 찾기</button>
					</div>
				</form>
				</div>
				
				
							<img src="upload/user/profile.png" alt="profile"
								class="login_profile" />
						<img src="upload/user/userInfo.Sys" alt="profile"
							class="login_profile" />
			</div>
		</div>
	</div>

	<div class="aside_category">
		<div class="category_orangeBox">
			<div class="category_whiteBox">
				<div class="category_section">

					<h2 class="categoty_title">새싹 게시판</h2>

					<img src="images/sprout.png" alt="category_icon"
						class="category_icon" />
				</div>
				<div class="category_section">

					<h2 class="categoty_title">영화리뷰</h2>

					<img src="images/review.png" alt="category_icon"
						class="category_icon" />
				</div>
				<div class="category_section">

					<h2 class="categoty_title">시사회정보</h2>
					<img src="images/theater.png" alt="category_icon"
						class="category_icon" />
				</div>
				<div class="category_section">

					<h2 class="categoty_title">영화관람 팁</h2>
					<img src="images/tip.png" alt="category_icon" class="category_icon" />
				</div>
				<div class="category_section">

					<h2 class="categoty_title">티켓마켓</h2>
					<img src="images/ticket.png" alt="category_icon"
						class="category_icon" />
				</div>
				<div class="category_section">
					<h2 class="categoty_title">이벤트</h2>
					<img src="images/party.png" alt="category_icon"
						class="category_icon" />
				</div>
			</div>
		</div>
	</div>
</div>
</html>