<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/footer.css" />
</head>
<div th:fragment="footer">
	<div class="footer">
		<p class="footer_title">철수와 영화</p>
		<div>
			<p class="footer_text">클라우드 기반 자바 개발자 양성 과정 1팀</p>
			<p class="footer_text">팀장 : 김예은 | 팀원 : 김민우, 김성진, 김수빈, 배양수, 최원호</p>
			<p class="footer_text">©철수와 영화. All Rights Reserved</p>
		</div>
		<div class="footer_emogi">
			<a href="https://github.com/KIMYEEUN22/MovieCafe"><i
				class="fab fa-github footer_icon"></i></a> <i
				class="far fa-comments footer_icon"></i>
		</div>
	</div>
</div>
</html>