<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/header.css" />
</head>
	<div th:fragment="header">
		<div class="header">
			<div class="home_logo">
			<a th:href="@{/}">
				<i class="fas fa-home home"></i>
			</a>
			</div>
			<div class="header_logo">
				<div class="header_left">
					<div class="header_top">
						<span class="header_text">철수야 같이 영화관 갈래?</span> <span
							class="header_text">팝콘은 너가 쏘는 거다?</span>
					</div>
					<div class="header_bottom">
						<img src="/images/철수와 영희.png" alt="image" class="logo_1" />
						<h1 class="header_title">철수와 영화</h1>
					</div>
				</div>
				<img src="/images/참잘함.png" alt="image_stamp"
					class="logo_2 header_right" />
			</div>
		</div>
		<div class="yellowBox"></div>
	</div>
</html>