<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/movie/detailMovie.css}">
</th:block>
<th:block layout:fragment="script">
	<script th:src="@{/js/movie/detailMovie.js}"></script>
</th:block>
<head>
</head>
<section layout:fragment="content">
	<div class="detail_top">
		<div class="top_left"></div>
	</div>
	<div class="detail_divide"></div>
	<div class="detail_bottom">
		<div class="bottom_top">
			<h1 class="review_title">관람평</h1>
			<div class="review_lett">
				<form action="/guanramForm" method="POST">
					<input type="hidden" id="movieId" name="movieId" th:value="${movieId}" /> 
					<input type="hidden" id="imgUrl" name="imgUrl" /> 
					<input type="hidden" id="title" name="title" />
					<button th:unless="${session.userInfo == null}" type="submit" class="btn btn-light">평점 작성</button>
				</form>
			</div>
		</div>
		<div class="guanramList">
			
		</div>
		<div id="pagination-div">
			<div id="page-content"></div>
		</div>
	</div>
</section>
</html>