<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Detail Movie</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	type="text/css" />
<link rel="stylesheet" th:href="@{/css/movie/movieBoardForm.css}"
	type="text/css" />
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/movie/movieBoardForm.js}"></script>
</head>
<body>
	<h1 class="content_title">영화 정보 등록</h1>

	<form id="form"
		action="${pageContext.request.contextPath }/uploadMovieFile?type=insert"
		method="POST" enctype="multipart/form-data">

		<div class="movie_input">
			<div class="form_left">
				<img id="img">
				<div class="form_imgBtn">
					<label for="imgInput">이미지 등록</label> <input type="file"
						class="form_imgInput" id="imgInput" name="imgInput" />
				</div>
			</div>
			<div class="form_right">
				<div class="form_inputSection">
					<h3 class="input_title">제목</h3>
					<input type="text" class="input_box" name="title" id="title" />
				</div>
				<div class="form_inputSection">
					<h3 class="input_title">감독</h3>
					<input type="text" class="input_box" name="director" id="director" />
				</div>
				<div class="form_inputSection">
					<h3 class="input_title">배우</h3>
					<input type="text" class="input_box" name="actor" id="actor" />
				</div>
				<div class="form_inputSection">
					<h3 class="input_title">장르</h3>
					<input type="text" class="input_box" name="genre" id="genre" />
				</div>
				<div class="form_inputSection">
					<h3 class="input_title">러닝타임</h3>
					<input type="text" class="input_box" name="runtime" id="runtime" />
				</div>
				<div class="form_inputSection">
					<h3 class="input_title">예매처 링크</h3>
					<input type="text" class="input_box" name="link" id="link" />
				</div>
				<div class="form_inputSection">
					<h3 class="input_title">관람가</h3>
					<select name="age" class="input_box" id="age">
						<option value="0">관람가 지정</option>
						<option value="A">전체 관람가</option>
						<option value="B">12세 이상 관람가</option>
						<option value="C">15세 이상 관람가</option>
						<option value="D">청소년 관람불가</option>
					</select>
				</div>
				<div class="form_inputSection">
					<h3 class="input_title">상영날짜</h3>
					<input type="text" class="input_box" name="date"
						placeholder="YYYY-MM-DD로 작성해주세요" id="date" />
				</div>
			</div>
		</div>
		<button type="submit" class="form_btn" id="submitBtn">등록</button>
	</form>
</body>
</html>