<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Register Guanram</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	type="text/css" />
<link rel="stylesheet" th:href="@{/css/movie/registerGuanram.css}"
	type="text/css" />
</head>
<body>
<div class="review">
          <div class="review_left">   
            <img src="upload/movie/${movieImg}" alt="movieImg" class="review_img" />
          </div>
        <form class="review_right" id="form" action="${pageContext.request.contextPath }/registerGuanram.do" method="POST" >   
        <input type="hidden" name="movieNo" value="${param.movieNo }" />  
        <input type="hidden" name="userId" value="${userInfo.userId }" />    
            <h1 class="review_title">영화 제목</h1>
            <div class="review_input">
              <h3 class="input_title">평가 한 줄</h3>
              <input type="text" class="input_box" name="review" />
            </div>
            <div class="review_rating">
              <h3 class="rating_title">평점</h3>
              <select name="rating" class="select_box" id="input_rating">
                <option value="1">⭐️</option>
                <option value="2">⭐️⭐️</option>
                <option value="3">⭐️⭐️⭐️</option>
                <option value="4">⭐️⭐️⭐️⭐️</option>
                <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
              </select>
            </div>
          
          <div class="review_bottom">
        	<button class="review_btn" type="submit">등록</button>
          </div>
        </form>
       </div>
</body>
</html>