<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/defaultLayout}">
 <th:block layout:fragment="script">
        <script th:src="@{/js/board/boardwrite.js}"></script>
    </th:block>
    
    
<head>
<script>
if(document.getElementById("input_check").checked) {
    document.getElementById("input_check_hidden").disabled = true;
}
</script>
</head>
<section layout:fragment="content">
      <div>
      <!-- 새싹 게시판 -->
      <div th:if="${cateNo==1}" role="main">
					<input name="horseNo" type="hidden" value="12" >
				</div>
         <form name="form" id="form" role="form" method="post" th:action="@{/modifyboard/{cateNo}(cateNo=${board.cateNo})}" enctype="multipart/form-data">
            
            <input type="hidden" name="boardNo" id="boardNo" th:value="${board.boardNo}">
            
            <div th:if="${cateNo==1}" role="main">
					<input name="horseNo" type="hidden" value="12" >
			</div>
            
            <div th:if="${cateNo==2}" class="container" role="main">
				<label>말머리</label> <select name="horseNo" id="horseNo">
					<option value="1">로맨스</option>
					<option value="2">스릴러</option>
					<option value="3">공포</option>
					<option value="4">SF판타지</option>
					<option value="5">액션</option>
					<option value="6">코미디</option>
					<option value="7">기타</option>
				</select>
				</div>
            
            <div th:if="${cateNo==3}" class="container" role="main">
				<label>말머리</label> <select name="horseNo" id="horseNo">
					<option value="8">시사회 후기</option>
					<option value="9">예정 시사회</option>
				</select>
				</div>
            
            <div class="mb-3">
               <h3 class="text-title" th:text="#{category.modifytitle1}"></h3>
               <input type="text" class="form-control" name="boardTitle" id="boardTitle" 
                  th:value="${board.boardTitle}">
            </div>

            <div class="mb-3">
               <input type="text" class="form-control" name="boardContent" id="boardContent"
                  th:value="${board.boardContent}" style="height: 300px;">
            </div>


            <div class="mb-3">
               <label>파일</label> <input type="file" class="form-control" name="fileList" multiple>
            </div>

            <div>
               <button type="button" class="btn btn-sm btn-primary" id="saveBtn">수정</button>
               <a class="btn btn-default waves-effect waves-light" th:href="@{/boardlist/{cateNo}(cateNo=${board.cateNo})}">목록</a>
            </div>

           <div th:if="${userInfo.rankType.equals('A')}">
				<input type="checkbox" name="boardNotice" value='1' id="input_check"><label>공지</label>
				<input type="hidden" name="boardNotice" value='0' id="input_check_hidden">
			</div>
            
         </form>
      </div>
</section>
</html>