<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">

<th:block layout:fragment="script">
	<script th:src="@{/js/board/recomBoard.js}"></script>
</th:block>

<head>
<script>
	$(document).ready(function() {
		
		
		
		$("#addComBtn").click(function() {
			//댓글 유효성 검사
				const comContent =$('#comContent').val();
				
				if(comContent== "") {
					alert("댓글을 입력하세요");
		        	
				} 
				else {
		
			$.ajax({
				url : "/createcom",
				type : 'POST',
				contentType : 'application/json;charset=utf-8',
				dataType : 'json',
				data : JSON.stringify({
					"boardNo" : $('#boardNo').val(),
					"comContent" : $('#comContent').val()
				}),
				success : function(data) {
					const comment = data.results;
					const userInfo = data.userInfo;
					
					$('#origincom').hide();
					$('#comAction').text(data.comCnt);
					$("#listComment").html("");
					let str = '<thead><tr><td>작성자</td><td>날짜</td></tr><thead>'
					for (let i = 0; i < comment.length; i++) {
						str += '<tbody id = "' + comment[i].comNo + '">'
							+ '<tr>'
							+ '<td>'
							+ comment[i].userNick
							+ '</td>'
							+ '<td>'
							+ comment[i].comWdate
							+ '</td>'
							+ '</tr>'
							+ '<tr>'
							+ '<td colspan="2" class="comContent">'
							+ comment[i].comContent
							+ '</td>'
							+ '</tr>';
							if(userInfo.userNick == comment[i].userNick || userInfo.rankType == "A"){
								
							str += '<tr>'
								+ '<td colspan="2">'
								+ '<button class="modifyComReqBtn" type="button">수정</button>&nbsp;'
								+ '<button id="removeBtn">삭제</button>'
								+ '</td>'
								+ '</tr>';
							};
							
							str += '</tbody>';
					}
					$("#listComment").html(str);
				},
				error : function(err) {
						console.log(err);
				}
			});
				};
		});

						$(document)
								.on(
										"click",
										"#removeBtn",
										function() {
											const comNo = $(this).parents(
													'tbody').attr('id');
											const boardNo = $('#boardNo').val();

											$
													.ajax({
														url : '/remove/'
																+ comNo + "/"
																+ boardNo,
														type : 'POST',
														dataType : 'json',
														success : function(data) {
															const comment = data.results;
															const userInfo = data.userInfo;
															
															
															$('#origincom')
																	.hide();
															$('#comAction')
																	.text(
																			data.comCnt);

															$("#listComment")
																	.html("");
															let str = '<thead><tr><td>작성자</td><td>날짜</td></tr><thead>'
															for (let i = 0; i < comment.length; i++) {
																
																str += '<tbody id = "' + comment[i].comNo + '">'
																		+ '<tr>'
																		+ '<td>'
																		+ comment[i].userNick
																		+ '</td>'
																		+ '<td>'
																		+ comment[i].comWdate
																		+ '</td>'
																		+ '</tr>'
																		+ '<tr>'
																		+ '<td colspan="2" class="comContent">'
																		+ comment[i].comContent
																		+ '</td>'
																		+ '</tr>';
																		
																		if(userInfo.userNick == comment[i].userNick || userInfo.rankType == "A"){
																			str += '<tr>'
																			+ '<td colspan="2">'
																			+ '<button class="modifyComReqBtn" type="button">수정</button>&nbsp;'
																			+ '<button id="removeBtn">삭제</button>'
																			+ '</td>'
																			+ '</tr>';
																		}
																		
																		str += '</tbody>';
															}
															$("#listComment")
																	.html(str);

														},
														error : function(err) {
															console.log(err);
														}

													});
										});

						//댓글 수정용 함수
						$('#listComment').on(
								'click',
								'.modifyComReqBtn',
								function() {
									const comNo = $(this).parents('tbody')
											.attr('id');
									$('#modifyComment')
											.insertAfter('#' + comNo);
									const comContent = $(this).parents('tbody')
											.find('.comContent').text();
									$('#modifyComContent').val(comContent);
									$('#comNo').val(comNo);
									$('#modifyComment').show();
									$('#' + comNo).hide();
								});
						//댓글 취소
						$('#cancel').on('click', function() {
							const comNo = $('#comNo').val();
							$('#' + comNo).show();
							$('#modifyComment').hide();
							$('#modifyComment').insertAfter('#addComment');
						});

						$("#modifyComBtn")
								.click(
										function() {
											$
													.ajax({
														url : '/modifycom',
														type : 'POST',
														contentType : 'application/json;charset=utf-8',
														data : JSON
																.stringify({
																	"boardNo" : $(
																			'#boardNo')
																			.val(),
																	"comNo" : $(
																			'#comNo')
																			.val(),
																	"comContent" : $(
																			'#modifyComContent')
																			.val(),
																	"userId" : $(
																			'#userId')
																			.val()
																}),
														success : function(data) {
															const comment = data.results;
															const userInfo = data.userInfo;
															
															$('#origincom')
															.hide();
													$('#comAction')
															.text(
																	data.comCnt);
															$("#listComment")
																	.html("");
															let str = '<thead><tr><td>작성자</td><td>날짜</td></tr><thead>'
															for (let i = 0; i < comment.length; i++) {
																str += '<tbody id = "' + comment[i].comNo + '">'
																		+ '<tr>'
																		+ '<td>'
																		+ comment[i].userNick
																		+ '</td>'
																		+ '<td>'
																		+ comment[i].comWdate
																		+ '</td>'
																		+ '</tr>'
																		+ '<tr>'
																		+ '<td colspan="2" class="comContent">'
																		+ comment[i].comContent
																		+ '</td>'
																		+ '</tr>';
																		
																		if(userInfo.userNick == comment[i].userNick || userInfo.rankType == "A"){
																			str += '<tr>'
																			+ '<td colspan="2">'
																			+ '<button class="modifyComReqBtn" type="button">수정</button>&nbsp;'
																			+ '<button id="removeBtn">삭제</button>'
																			+ '</td>'
																			+ '</tr>';
																		}
																		str += '</tbody>';
															}
															$("#listComment")
																	.html(str);

														},
														error : function(err) {
															console.log(err);
														}

													});
										});
					});
</script>
<style>
table {
	border-collapse: collapse;
	border-radius: 20px;
	border-style: hidden;
}

.board {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#boarddiv {
	border: 1px solid #ffebb5;
	border-radius: 16px;
	box-shadow: inset 0 0 3px #e7cf8d;
	width: 950px;
	height: 265px;
}

#boardTitle {
	background-color: #fcf4de;
	
}
/* #boardContent{
   background-color: rgb(255, 255, 240);

} */

#titi{
	font-family: '맑은 고딕'; font-size: 30px; color: #000;

}
.filetable{
	position:absolute;
	left:1100px;
	top:430px;
}

#listComment{
border-style: hidden;
	border: 1px solid #ffebb5;
	border-radius: 16px;
	box-shadow: inset 0 0 3px #e7cf8d;
	width: 60%;
	height: 100px;
	margin: auto;
	text-align: left;
}

#addComment{
border-style: hidden;
	width: 60%;
	height: 40%;
	margin: auto;
	text-align: left;
}



</style>

</head>
<section class="container" layout:fragment="content">
		<div id="boarddiv">
			<form th:action="@{/deleteBoard/{boardNo}(boardNo=${board.boardNo})}"
				method="post">

				<div th:if="${userInfo.userId == board.userId || userInfo.rankType == 'A'}">
					<button type="submit"
						class="btn btn-danger waves-effect waves-light">삭제</button>
					<a class="btn btn-default waves-effect waves-light"
						th:href="@{/modifyform/{boardNo}(boardNo=${boardNo})}">수정</a>
				</div>

				<input type="hidden" name="cateNo" th:value="${board.cateNo}">

				<input type="hidden" id="writer" name="userId"
					th:value="${board.userId}"> <input type="hidden"
					id="boardNo" name="boardNo" th:value="${board.boardNo}">

				<table class="table">
					<tr id="boardTitle" class="board">
						<td id="titi" width="600px;" th:text="${board.boardTitle}"></td>
						<td align="center">작성일<img height="30px;" width="30px;"
							src="/images/writer.png"></td>
						<td align="center">조회수</td>
						<td align="center">추천
						<img height="30px;" width="30px;" src="/images/참잘함ㅇㅇㅇㅇ.png"></td>
						<td align="center">댓글
						<img height="30px;" width="30px;" src="/images/참못했어요.png"></td>
					</tr>

					<tr class="board">
						<td width="600px;" th:text="${board.userNick}"></td>
						<td align="center" th:text="${board.boardWdate}"></td>
						<td align="center" th:text="${board.boardCount}"></td>
						

						<div id="recomAction">
							<td id="originRecom" width="30px;" th:text="${board.recomCount}"></td>
						</div>
						
						<div id="comAction">
							<td id="origincom" width="30px;" th:text="${board.commentCount}"></td>
						</div>

					</tr>
					<tr class="board">
						<td id="boardContent" height="150px;" colspan="5"
							th:text="${board.boardContent}"></td>
					</tr>
				</table>
				
				<table id="fileList" class="filetable" th:if="${board.boardfile != null}">
					<tr>
						<th colspan="6">파일명</th>
						<th colspan="6">파일크기</th>
						<th colspan="6">파일타입</th>
					</tr>
					<tr>
						<td colspan="6" th:text="${board.boardfile.boardfileOrigin }"></td>
						<td colspan="6" th:text="${board.boardfile.boardfileSize}">bytes</td>
						<td colspan="6" th:text="${board.boardfile.boardfileType}"></td>
					</tr>

				</table>

				<table id="fileList" class="filetable" th:if="${board.boardfile == null}">
					<tr>
						<td colspan="3">파일 없음</td>
					</tr>
				</table>
				
				
				
			</form>
		</div>
		<button type="button" class="btn btn-success" id="recomBtn">
			추천</button>
		
		
		<button th:unless="${userInfo.userId == board.userId || board.userId == 'test_user01'}" type="button" class="btn btn-warning" id="reportBtn">
			신고</button>

		<a class="btn btn-default waves-effect waves-light"
			th:href="@{/boardlist/{cateNo}(cateNo=${board.cateNo})}">목록</a>


		<table id="listComment">
			<thead id ="commentHead">
				<tr>
					<td>작성자</td>
					<td>날짜</td>
				</tr>
			</thead>
			<tbody th:each="comment : ${list}" th:id="${comment.comNo}">
				<tr>
					<td th:text="${comment.userNick}"></td>
					<td th:text="${comment.comWdate}"></td>
					<td colspan="3" class="comContent" th:text="${comment.comContent}"></td>
				</tr>
				<tr th:if="${userInfo.userNick == comment.userNick || userInfo.rankType == 'A'}">
				
					<td colspan="3">
						<button id="updateComBtn" class="modifyComReqBtn" type="button">수정</button>
						<button id="removeBtn">삭제</button>
					</td>
				</tr>
			</tbody>
		</table>

		
		
		<form method="get">

			<div id="addComment">
				<div>
					<textarea id="comContent" rows="5" cols="50"
						placeholder="댓글을 입력해주세요 ."></textarea>
				</div>
				<button id="addComBtn">댓글 달기</button>
				<div id="resultCom"></div>
			</div>
			
			<div id="modifyComment" style="display: none;">
				<div>
					<input type="hidden" id="comNo">
					<textarea id="modifyComContent" rows="5" cols="50"
						placeholder="댓글을 입력해주세오 ."></textarea>
				</div>

				<div>
					<button id="cancel">취소</button>
					<button id="modifyComBtn">수정하기</button>
				</div>
			</div>

		</form>
</section>
</html>