<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/defaultLayout}">
 <th:block layout:fragment="script">
	<script th:src="@{/js/board/boardlist.js}"></script>
</th:block>
<head>

<style type="text/css">
.paging-div {
   padding: 15px 0 5px 10px;
   display: table;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
#pagination-div{
   text-align: center;   
}
</style>
</head>
<section layout:fragment="content">
<input type="hidden" id="boardList" th:value="${list}" />
<input type="hidden" id="cateNo" th:value="${cateNo}">


<form name="form" th:action="@{boardwrite/{cateNo}(cateNo=${cateNo})}" method="get">
   
   <div class="container">
      <table class="table table-hover">
         <thead class="thead-dark" id=thead>
            <tr>
               <th scope="col">작성자</th>
               <th colspan="2" scope="col">제목</th>
               <th scope="col">작성일자</th>
               <th scope="col">조회</th>
               <th scope="col">추천</th>
               <th scope="col">댓글</th>
            </tr>
         </thead>
         <tbody id="boardList">
         
         </tbody>
      </table>
      <div id="pagination-div">
         <div id="page-content"></div>
      </div>
      <button type="submit" class="btn btn-primary waves-effect waves-light">글작성</button>
   </div>
   </form>

</section>
</html>