<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="script">
	<script th:src="@{/js/board/boardModifyTip.js}"></script>
</th:block>
<head>
</head>
<section layout:fragment="content">
	
	<input id="rapiX" type="hidden" th:value="${board.apiX}">
	<input id="rapiY" type="hidden" th:value="${board.apiY}">
	
	<article>
		<div  class="container" role="main">
		
		
			<form name="form" id="form" role="form" method="post"
				th:action="@{/modifyTipboard}" enctype="multipart/form-data">
				
				
				
				<input type="hidden" name="boardNo" id="boardNo" th:value="${board.boardNo}">
				<h3 class="text-title" th:text="#{category.modifytitle4}"></h3>
				
				
				<input type="hidden" id="writer" name="userId" th:value="${userInfo.userId}">
				
				<label>말머리</label> 
				<div th:if="${board.horseNo==10}">
				<select name="horseNo" id="horseNo" >
					<option value="10" selected>영화관 추천</option>
					<option value="11">할인 정보</option>
				</select>
				</div>
				<div th:if="${board.horseNo==11}">
				<select name="horseNo" id="horseNo" >
					<option value="10">영화관 추천</option>
					<option value="11" selected>할인 정보</option>
				</select>
				</div>
				 <input type="hidden" id="cateNo" name="cateNo" value="3">
				<div class="mb-3">
					<input type="text" class="form-control" name="boardTitle"
						id="boardTitle" th:value="${board.boardTitle}">
				</div>

				<div class="mb-3">
					<input type="text" class="form-control" name="boardContent"
						id="boardContent" th:value="${board.boardContent}" style="height: 300px;">
				</div>

				<input type="hidden" id="apiX" name="apiX">
				<input type="hidden" id="apiY" name="apiY">



				<div class="mb-3">
					<label>파일</label> <input type="file" class="form-control"
						name="fileList" multiple>

				</div>
				

				<div>
					<button type="button" class="btn btn-sm btn-primary" id="saveBtn">수정</button>
					<button type="button" class="btn btn-sm btn-primary" id="listBtn">목록</button>
				</div>
					
				<div th:if="${userInfo.rankType.equals('A')}">
					<input type="checkbox" name="boardNotice" value='1' id="input_check"><label>공지</label>
					<input type="hidden" name="boardNotice" value='0' id="input_check_hidden">
				</div>
			</form>
			
			<input type="text" id="sample5_address" placeholder="주소"> <input
				type="button" id="address" onclick="sample5_execDaumPostcode()"
				value="주소 검색"><br>
				
				
			<div id="map"
				style="width: 300px; height: 300px; margin-top: 10px; display: none"></div>

			<script
				src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
			<script
				src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9a78a37acbaa267bade844724b94c806&libraries=services"></script>
			<script>
			
			var mapX = document.getElementById("rapiX").value;
			var mapY = document.getElementById("rapiY").value;
			
			 var mapContainer = document.getElementById('map'), // 지도를 표시할 div
		        mapOption = {
		            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
		            level: 5 // 지도의 확대 레벨
		        };
		
		    //지도를 미리 생성
		    var map = new daum.maps.Map(mapContainer, mapOption);
		    //주소-좌표 변환 객체를 생성
		    var geocoder = new daum.maps.services.Geocoder();
		    //마커를 미리 생성
		    var marker = new daum.maps.Marker({
		        position: new daum.maps.LatLng(37.537187, 127.005476),
		        map: map
		    });
		
		
		    function sample5_execDaumPostcode() {
		       
		    	new daum.Postcode({
		            oncomplete: function(data) {
		                var addr = data.address; // 최종 주소 변수
		
		                // 주소 정보를 해당 필드에 넣는다.
		                document.getElementById("sample5_address").value = addr;
		                // 주소로 상세 정보를 검색
		                geocoder.addressSearch(data.address, function(results, status) {
		                    // 정상적으로 검색이 완료됐으면
		                    if (status === daum.maps.services.Status.OK) {
		
		                        var result = results[0]; //첫번째 결과의 값을 활용
		
		                        // 해당 주소에 대한 좌표를 받아서
		                        var coords = new daum.maps.LatLng(result.y, result.x);
		                        // 지도를 보여준다.
		                        mapContainer.style.display = "block";
		                        map.relayout();
		                        // 지도 중심을 변경한다.
		                        map.setCenter(coords);
		                        // 마커를 결과값으로 받은 위치로 옮긴다.
		                        marker.setPosition(coords);
		                        
		                        document.getElementById("apiX").value = result.x;
		                        document.getElementById("apiY").value = result.y;
		                    }
		                });
		                 
		            }
		        }).open();   	
 	
 		}
		</script>
			
			
		</div>
	</article>
</section>
</html>