<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">

	<!-- 게시글 목록 조회 -->
	<resultMap type="boardVO" id="resultMapSelectList">
		<result property="userNick" javaType="string" column="userNick" jdbcType="VARCHAR" />
		<result property="horse" javaType="string" column="horse" jdbcType="VARCHAR" />
		<result property="boardTitle" javaType="string" column="boardTitle" jdbcType="VARCHAR" />
		<result property="boardWdate" javaType="string" column="boardWdate" jdbcType="VARCHAR" />
		<result property="commentCount" javaType="int" column="commentCount" jdbcType="INTEGER" />
	</resultMap>


	<!-- 게시글 상세조회 -->
	<resultMap type="boardVO" id="resultMapSelectDetail">
		<result property="boardNo" javaType="int" column="boardNo" jdbcType="INTEGER" />
		<result property="horse" javaType="string" column="horse" jdbcType="VARCHAR" />
		<result property="boardTitle" javaType="string" column="boardTitle" jdbcType="VARCHAR" />
		<result property="cateNo" javaType="int" column="cateNo" jdbcType="INTEGER" />
		<result property="userNick" javaType="string" column="userNick" jdbcType="VARCHAR" />
		<result property="horseNo" javaType="int" column="horseNo" jdbcType="INTEGER" />
		<result property="boardCount" javaType="int" column="boardCount" jdbcType="INTEGER" />
		<result property="boardWdate" javaType="string" column="boardWdate" jdbcType="VARCHAR" />
		<result property="commentCount" javaType="int" column="commentCount" jdbcType="INTEGER" />
		<result property="boardContent" javaType="string" column="boardContent" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 인기글 조회 -->
	<resultMap type="boardVO" id="mainBestList">
		<result property="boardNo" javaType="int" column="boardNo" jdbcType="INTEGER" />
		<result property="boardTitle" javaType="string" column="boardTitle" jdbcType="VARCHAR" />
		<result property="userNick" javaType="string" column="userNick" jdbcType="VARCHAR" />
		<result property="cateNo" javaType="int" column="cateNo" jdbcType="INTEGER" />
		<result property="boardWdate" javaType="string" column="boardWdate" jdbcType="DATE" />
		<result property="boardCount" javaType="int" column="boardCount" jdbcType="INTEGER" />
	</resultMap>

	<!-- 공지글조회 -->
	<resultMap type="boardVO" id="mainNoticeList">
		<result property="boardNo" javaType="int" column="boardNo" jdbcType="INTEGER" />
		<result property="boardTitle" javaType="string" column="boardTitle" jdbcType="VARCHAR" />
		<result property="userNick" javaType="string" column="userNick" jdbcType="VARCHAR" />
		<result property="cateNo" javaType="int" column="cateNo" jdbcType="INTEGER" />
		<result property="boardWdate" javaType="string" column="boardWdate" jdbcType="DATE" />
		<result property="boardCount" javaType="int" column="boardCount" jdbcType="INTEGER" />
	</resultMap>

	
<!-- .............................................................................................. -->


	<!-- 게시글 리스트 -->
	<parameterMap type="int" id="paramMapSelectList">
		<parameter property="cateNo" javaType="int" jdbcType="INTEGER" mode="IN" />
	</parameterMap>

	<!-- 게시글 조회 -->
	<parameterMap type="int" id="paramMapSelectDetail">
		<parameter property="boardNo" javaType="int" jdbcType="INTEGER" mode="IN" />
	</parameterMap>
	

	<!-- 게시글 작성 -->
	<parameterMap type="boardVO" id="boardCreateMap">
		<parameter property="userId" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="boardTitle" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="boardContent" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="horseNo" javaType="int" jdbcType="INTEGER" mode="IN" />
		<parameter property="boardNotice" javaType="int" jdbcType="TINYINT" mode="IN" />
	</parameterMap>

	<!-- 영화정보 팁 게시판 작성  -->
	<parameterMap type="boardVO" id="boardTipCreateMap">
		<parameter property="userId" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="boardTitle" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="boardContent" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="horseNo" javaType="int" jdbcType="INTEGER" mode="IN" />
		<parameter property="boardNotice" javaType="int" jdbcType="TINYINT" mode="IN" />
		<parameter property="apiX" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="apiY" javaType="string" jdbcType="VARCHAR" mode="IN" />
	</parameterMap>


	<!-- 게시판 수정 -->
	<parameterMap type="boardVO" id="boardUpdateMap">
		<parameter property="boardTitle" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="boardContent" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="horseNo" javaType="int" jdbcType="INTEGER" mode="IN" />
		<parameter property="boardNotice" javaType="int" jdbcType="TINYINT" mode="IN" />
		<parameter property="apiX" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="apiY" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="boardNo" javaType="int" jdbcType="INTEGER" mode="IN" />
	</parameterMap>

	
	<!-- 파일 업로드 -->
	<parameterMap type="boardFileVO" id="boardFileCreateMap">
		<parameter property="boardfileOrigin" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="boardfileSys" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="boardfileSize" javaType="long" jdbcType="INTEGER" mode="IN" />
		<parameter property="boardNo" javaType="int" jdbcType="TINYINT" mode="IN" />
	</parameterMap>

<!-- 게시글 추천 -->
	<parameterMap type="recomVO" id="recomCreateMap">
		<parameter property="userId" javaType="string" jdbcType="VARCHAR" mode="IN" />
		<parameter property="boardNo" javaType="int" jdbcType="INTEGER" mode="IN" />
	</parameterMap>

<!-- ............................................................................................................. -->


	<!-- 게시글 목록조회 -->
	<select id="selectByCateNo" statementType="CALLABLE" resultMap="resultMapSelectList" parameterType="string"
		parameterMap="paramMapSelectList">
		{ call sp_list_board(?) }
	</select>


	<!-- 게시글 조회 -->
	<select id="selectDetailBoard" statementType="CALLABLE" resultMap="resultMapSelectDetail" parameterType="int"
		parameterMap="paramMapSelectDetail">
		{ call sp_detail_board(?) }
	</select>

	<!-- 게시글 작성 -->
	<insert id="insertBoardCall" parameterType="BoardVo"
		statementType="CALLABLE" parameterMap="boardCreateMap">
		{call sp_write_board(?,?,?,?,?)
		}
	</insert>
	
	<!-- 팁 게시판 게시글 작성 -->
	<insert id="insertTipBoardCall" parameterType="BoardVo"
		statementType="CALLABLE" parameterMap="boardTipCreateMap">
		{call
		sp_write_boardTip(?,?,?,?,?,?,?) }
	</insert>
	
	<!--게시글 수정 -->
	<update id="updateBoardCall" parameterType="BoardVo" statementType="CALLABLE" parameterMap="boardUpdateMap">
		{call sp_modify_board(?,?,?,?,?,?,?) }
	</update>

	<!-- 게시글 추천 -->
	<insert id="insertRecomCall" parameterType="recomVo"
		statementType="CALLABLE" parameterMap="recomCreateMap">
		{call sp_insert_recommend(?,?)}
	</insert>
	<!-- 게시글 추천 이력 조회 -->
	<select id="selectIsRecomCall" resultType="boolean"
		statementType="CALLABLE"  parameterMap="recomCreateMap">
		{ call sp_select_isrecom(?, ?) }
	</select>
	<!-- 게시글 추천 취소 -->
	<delete id="deleteRecomCall" statementType="CALLABLE"
		parameterType="recomVo" parameterMap="recomCreateMap">
		{ call sp_delete_recommend(?, ?) }
	</delete>
	<!-- 인기글 조회 -->
	<select id="mainBestListSelect" resultType="boardVO"
		resultMap="mainBestList" statementType="CALLABLE">
		{ call sp_select_hot_board() }
	</select>

	<!-- 공지글 조회 -->
	<select id="mainNoticeListSelect" resultType="boardVO"
		resultMap="mainNoticeList" statementType="CALLABLE">
		{ call sp_select_new_notice()
		}
	</select>


	<!-- last ID -->
	<select id="lastId" resultType="int">
		SELECT LAST_INSERT_ID()
	</select>
	

	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" statementType="CALLABLE"
		parameterType="int" parameterMap="paramMapSelectDetail">
		{ call sp_delete_board(?) }
	</delete>

	<!-- 게시글 신고 -->
	<insert id="reportBoard" statementType="CALLABLE"
		parameterType="int" parameterMap="paramMapSelectDetail">
		{ call sp_report(?) }
	</insert>
	
	</mapper>
