<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<resultMap type="boardVO" id="mainBestList">
		<result property="boardNo" javaType="int" column="boardNo" jdbcType="INTEGER"/>
		<result property="boardTitle" javaType="string" column="boardTitle" jdbcType="VARCHAR"/>
		<result property="userNick" javaType="string" column="userNick" jdbcType="VARCHAR"/>
		<result property="cateNo" javaType="int" column="cateNo" jdbcType="INTEGER"/>
		<result property="boardWdate" javaType="string" column="boardWdate" jdbcType="DATE"/>
		<result property="boardCount" javaType="int" column="boardCount" jdbcType="INTEGER"/>
	</resultMap>
	<select id="mainBestListSelect" resultType="boardVO" resultMap="mainBestList" statementType="CALLABLE">
		{ call sp_select_hot_board() }
	</select>

	<resultMap type="boardVO" id="mainNoticeList">
		<result property="boardNo" javaType="int" column="boardNo" jdbcType="INTEGER"/>
		<result property="boardTitle" javaType="string" column="boardTitle" jdbcType="VARCHAR"/>
		<result property="userNick" javaType="string" column="userNick" jdbcType="VARCHAR"/>
		<result property="cateNo" javaType="int" column="cateNo" jdbcType="INTEGER"/>
		<result property="boardWdate" javaType="string" column="boardWdate" jdbcType="DATE"/>
		<result property="boardCount" javaType="int" column="boardCount" jdbcType="INTEGER"/>
	</resultMap>
	<select id="mainNoticeListSelect" resultType="boardVO" resultMap="mainNoticeList" statementType="CALLABLE">
		{ call sp_select_new_notice() }
	</select>
	
</mapper>