<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Msg">
	
	<!-- 보낸 쪽지 저장 -->
	<insert id="insertSendMsg" parameterType="hashMap" statementType="PREPARED" useGeneratedKeys="true" keyProperty="sendMsgNo" >
	
	INSERT INTO send_msg(writerId, sendMsgContent)
	VALUES(#{writerId}, #{sendMsgContent})
		
	</insert>
	
	<!-- 보낸 아이디 저장 -->
	<insert id="insertAddr" parameterType="hashMap" statementType="PREPARED">
	
	INSERT INTO address(sendMsgNo, receiveId)
	VALUES (#{sendMsgNo}, #{receiveId})
	
	</insert>
	
	<!-- 보낸 메세지 resultmap -->
	<resultMap type="sendMsgVo" id="SendMsgList" autoMapping="true">
		<result property="sendMsgNo" javaType="int" column="sendMsgNo" jdbcType="INTEGER" />
		<result property="sendMsgContent" javaType="string" column="sendMsgContent" jdbcType="VARCHAR" />
		<result property="msgWdate" javaType="string" column="msgWdate" jdbcType="VARCHAR" />
		
		<!--  주소록 -->
		<collection property="addresses" ofType="addressVo">
			<result property="receiveId" javaType="string" column="receiveId" jdbcType="VARCHAR" />	
			<result property="isRead" javaType="int" column="isRead" jdbcType="INTEGER" />			
		</collection>
		
	</resultMap>
	
	<!-- 모든 보낸 메세지 가져오기 -->
	<select id="selectSendMsgList" parameterType="string" resultMap="SendMsgList">
		
	SELECT s.sendMsgNo, s.sendMsgContent, s.msgWdate, a.receiveId as receiveId
	FROM send_msg s Inner JOIN address a USING(sendMsgNo)
	WHERE writerId = #{userId}
	ORDER BY msgWdate DESC
	
	</select>
	
	<!-- 보낸 메세지 삭제하기 -->
	<delete id="deleteSendMsgNo" parameterType="int">
		
		DELETE FROM send_msg
		WHERE sendMsgNo = #{sendMsgNo}
	
	</delete>

	<!--  보낸 메세지 상세조회 -->
	<select id="selectSendMsg" parameterType="int" resultMap="SendMsgList">
	
	SELECT s.sendMsgNo, s.sendMsgContent, s.msgWdate, a.receiveId as receiveId, a.isRead
	FROM send_msg s Inner JOIN address a USING(sendMsgNo)
	WHERE sendMsgno = #{sendMsgNo}
	
	</select>
	
	<!-- 받은 메세지 저장 -->
	<insert id="insertReceiveMsg" parameterType="receiveMsgVo" >
	
	INSERT INTO receive_msg(writer, receiveId, receiveMsgContent, receiveMsgNo)
	VALUES(#{writer}, #{receiveId}, #{receiveMsgContent}, #{receiveMsgNo})
	
	</insert>
	
	<!-- 받은 메세지 resultMap -->
	<resultMap type="receiveMsgVo" id="receiveMsgList">
		<result property="writer" javaType="string" column="writer" jdbcType="VARCHAR" />
		<result property="receiveMsgContent" javaType="string" column="receiveMsgContent" jdbcType="VARCHAR" />
		<result property="receiveMsgNo" javaType="int" column="receiveMsgNo" jdbcType="INTEGER" />
		<result property="isRead" javaType="int" column="isRead" jdbcType="INTEGER" />
		<result property="msgWdate" javaType="string" column="msgWdate" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 받은 메세지 모두 조회 -->
	<select id="selectReceiveMsgList" parameterType="String" resultMap="receiveMsgList">
	
	SELECT writer, receiveMsgContent, receiveMsgNo, isRead, msgWdate
	FROM receive_msg
	WHERE receiveId = #{receiveId}
	ORDER BY msgWdate DESC
	
	</select>
	
	<!-- 받은메세지 상세조회 -->
	<select id="selectReceiveMsg" parameterType="hashMap" resultType="receiveMsgVo">
	
	SELECT writer, receiveMsgContent, msgWdate, receiveMsgNo, isRead
	FROM receive_msg
	WHERE receiveMsgNo = #{receiveMsgNo} AND receiveId = #{receiveId}
	
	</select>
	
	<!-- receive_msg 읽음확인 업데이트 -->
	<update id="updateReceiveIsread" parameterType="hashMap">
	
	UPDATE  receive_msg 
	SET isRead = true
	WHERE receiveMsgNo = #{receiveMsgNo} AND receiveId = #{receiveId}
	
	</update>
	
	<!-- receive_msg 읽음확인 업데이트 -->
	<update id="updateAddressIsread" parameterType="hashMap">
	
	UPDATE address 
	SET isRead = true
	WHERE sendMsgNo = #{receiveMsgNo} AND receiveId = #{receiveId}
	
	</update>
	
	<!-- 받은 메세지 삭제 -->
	<delete id="deleteReceiveMsg" parameterType="hashMap">
	
	DELETE FROM receive_msg
	WHERE receiveId = #{receiveId} AND receiveMsgNo = #{receiveMsgNo}
	
	</delete>
	
	<!-- 쪽지를 보낼 사람이 있는지 검증하기 -->
	<select id="selectUserId" parameterType="string" resultType="int">
	
	SELECT count(userId)
	FROM user_info
	WHERE userId = #{userId}
	
	</select>
	
	
	
	
	
</mapper>
